.gradle/
build/
*/build/
local.properties
.idea/
*.iml
*.iws
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/libraries
.idea/caches
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.navigation/
.caches/
.DS_Store
Thumbs.db
*.jks
*.keystore
debug.keystore
*.log
*.hprof
*.apk
*.ap_
*.class
*.dex
bin/
gen/
out/
/release/
.idea/codeStyles/
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/shelf/
.idea/navEditor.xml